<?xml version="1.0" encoding="UTF-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><TotalTime>0</TotalTime><Words>1361</Words><Characters>9917</Characters><Application>WPS Office</Application><Paragraphs>395</Paragraphs><CharactersWithSpaces>11552</CharactersWithSpaces></Properties>